# macOS system files
.DS_Store

# ide files
.idea/

# Node.js dependencies
node_modules/

# eslint
.eslintcache

# build output
dist/
tsconfig.tsbuildinfo

# Ignore most of .yarn
.yarn/*
# Except these:
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches

venv/
vit_regressor.pth